@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
    font-family: 'Roboto', sans-serif;
}

.app {
    max-width: 414px;
    margin: 0 auto;
    
}

.topo-app {
    height: 92px;
    width: 414px;
    background-color: #CF2B2B;
    margin-bottom: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
    position: fixed;
    z-index: 1;
    
}

.topo-app h1 {
    font-family: righteous;
    font-weight: 400;
    font-size: 44px;
    line-height: 54.63px;
    letter-spacing: -1.2%;
    color: #FFFFFF;
    padding: 5px 145px 0px 21px;


}

.topo-app h2 {
    font-family: roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
    color: #FFFFFF;
    padding: 0px 145px 18px 21px;
}

.corpo-app {
    background-color: #EEEEEE;
    padding: 115px 0px 18px 0px;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 69px;
    
}

.tipo-pedido{
    font-family: Righteous;
    font-weight: 400;
    font-size: 26px;
    line-height: 32.28px;
    letter-spacing: 1.8%;
    color: #333333;
    padding: 0px 0px 17px 19px;
    
}   

.container-pedidos {
    display: flex;
    overflow-x: scroll;
    margin: 0px 0px 27px 11px;  
}

.pedido {
    width: 172px;
    border-radius: 9px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    padding: 18px 14px 13px 14px;
    margin: 0px 8px 8px 8px;
}

.imagens img {
    width: 144px;
    height: 87px;
    border-radius: 4px
    
}

.pedido h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    color: #333333;
    padding: 8px 0px 6px 0px;
}

.pedido h2 {
    font-weight: 300;
    font-size: 15px;
    line-height: 17.58px;
    color: #A6A6A6;
    padding-bottom: 7px;
}

.pedido h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    color:#000000;
}

.itens{
    position: relative;
}

ion-icon {
    color:#32B72F;
    display: none;
    position: absolute;
    right: 0px;
    bottom:0px;
}

.base-app {
    width: 414px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #FFFFFF;
}

.botao {
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background-color: #CBCBCB;
    font-family: roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 1.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

/*--------------------JS-------------------- */

.selecionado {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.selecionado ion-icon {
    display: inline;
}

.botao-final {
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background-color:#32B72F;
    font-family: roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 1.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;

}

.escondido {
    display: none;

}

